.NewsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.loader {
  display: flex;
  justify-content: center;
  top: 50%;
  position: fixed;
  left: 50%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.new-stories {
  position: fixed;
  background-color: rgb(69, 96, 212);
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgb(12, 12, 12);
  cursor: pointer;
}
