.news {
  background-color: rgb(57, 66, 90);
  margin: 10px;
  border-radius: 5px;
  padding: 5px 20px;
  box-shadow: 0px 5px 10px rgba(12, 12, 12, 0.336);
}

.newStory {
  background-color: rgb(230, 175, 24);
  margin: 10px;
  border-radius: 5px;
  padding: 5px 20px;
}
.news-header {
  display: flex;
  align-items: baseline;
}

.news-header h2 {
  font-size: 16px;
  margin-right: 10px;
}

.news-header span {
  font-size: 12px;
}
.news-header a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}

.news-details {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.news-details p {
  margin-right: 5px;
}
